body{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
#navbar{
    display: block;
    /* border: 2px solid black; */
    width:100%;
    height:50px;
}
#nbar {
    display: flex;
    justify-content: flex-end;
    
}
#nbar a{
    padding:10px;
    margin-right: 2.0rem;
    font-weight: bold;
}
#logo{
    /* border:2px solid red; */
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
.logoSubText{
    color:#54a0ff;
    /* border:2px solid black; */
    margin-left: 43rem;
    font-size: 2.0rem;
    margin-top: -3.0rem;
}
#searchbar{
    
    display: block;
    width:35%;
    margin: auto;
    padding:0px 15px;
}
#searchbar input[type="text"]{
    width:20rem;
    padding:11px 59px;
    border:2px solid gray;
    border-radius: 22px;
}
#searchbar placeholder{
    margin:auto;
    font-weight: bold;
}
.btn{
    margin: 0px 15px;
    padding: 7px 10px;
    width: 12rem;
    border-radius: 16px;
    border: 1.5px solid black;
    font-weight: bold;
}